<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ascii Converter</title>
</head>
<body>
  <div class="container">

    <h1>ASCII Art Converter</h1>
    <div class="top-right-button">
        <button class="o-button"></button>
    </div>

    <div class="file-input-wrapper">
        <label for="image-input" class="custom-file-label">
            Select Image
        </label>
        <input type="file" id="image-input" accept="image/*" />
        <span id="file-name">No file chosen</span>
    </div>

    <div class="width-input-wrapper">
        <label for="width-input">Width: </label>
        <input type="number" id="width-input" name="width" value="100" min="10" max="500">
    </div>

    <button id="convert-btn">Convert to ASCII</button>

    <div id="ascii-output"></div>

    <script>
        const fileInput = document.getElementById('image-input');
        const fileName = document.getElementById('file-name');
        const label = document.querySelector('.custom-file-label');
        const convertButton = document.getElementById('convert-btn')
        const colorButton = document.querySelector('.top-right-button > button')

        fileInput.addEventListener('change', () => {
            if (fileInput.files.length > 0) {
                fileName.textContent = fileInput.files[0].name;
            } else {
                fileName.textContent = 'No file chosen';
            }
        });

        convertButton.addEventListener('click', () => {
            const file = fileInput.files[0];
            const width = document.getElementById('width-input').value;

            const formData = new FormData();
            formData.append('image', file);
            formData.append('width', width)

            fetch('/convert', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById("ascii-output").textContent = data;
            })
        })

        colorButton.addEventListener('click', () => {
            document.documentElement.style.setProperty('--main-color', 'COLOR')
        })
    </script>

  </div>
</body>
</html>